<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang='zh'>
    <head>
        <link href="/vendors/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        {% include "fragments/header.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="span12">&nbsp; </div>
            </div>
            <div class="row">
                <div class="span12">&nbsp; </div>
            </div>
            <div class="row">
                <div class="span12">&nbsp; </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="row-fluid">
                <div class="pull-right">
                    {% include 'fragments/footer.html'%}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/vendors/sea.js"></script>
        <script type="text/javascript" src="/vendors/underscore.js"></script>
        <script type="text/javascript" src="/vendors/jquery.js"></script>
        <script type="text/javascript" src="/vendors/backbone.js"></script>
        <script type="text/javascript">
            seajs.use("/js/apps/{% block appjs %}{% endblock %}");
        </script>
    </body>
</html>
